<!DOCTYPE html>
<html>
<head>
	<title>custmdirectives</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
		
	</script>

</head>
<body ng-app="myApp">
<div ng-controller="myController">
<div my-Attribute location="location" name="{{name}}" >
	<br/>

</div>
<div>
	From the Controller:-<br/><br/>
	{{name}}<br/>
	{{location}}
</div>
</div>
<!-- directive: my-class-comment -->

<script>
var app = angular.module("myApp", []);
app.directive("myAttribute", function() {
	function cust_fn($scope,element,attrs)
	{
		/*element.bind('click',function()
		{
			alert(attrs.name);
		});
		console.log(element);
		console.log(attrs.name);
		console.log(attrs.location);*/

	}
	var template_content="<p> Name={{name}}</p><input type='text' ng-model='name'></input>";
	template_content += "<p> Location={{location}}</p><input type='text' ng-model='location'></input>";
	    return {
	    	scope:{
	    		name:"@",
	    		location:"="
	    	},
        template : "<h1> directive at attribute, Element level!</h1>",
        template:template_content,
        link:cust_fn
    };
});
app.controller("myController",function($scope)
{
	$scope.name='manasa';
	$scope.location="Us";
});

/*app.directive("myClassComment",function()
{
	return{
		restrict:'MC',
		replace:true,
		template:"<p>we are at comment and class level</p>"
	};
});*/
</script>


</body>

</html>